@import "pages/chat";
@import "~sweetalert2/src/sweetalert2.scss";

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
  }
  
  .app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
  }
  
  .app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
    text-transform: lowercase;
  }
  
  /* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
  /* Detached navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
    padding-top: 76px !important;
  }
  /* Default navbar */
  .layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
    padding-top: 64px !important;
  }
  
  /* Navbar page z-index issue solution */
  .content-wrapper .navbar {
    z-index: auto;
  }
  
  /*
  * Content
  ******************************************************************************/
  
  .demo-blocks > * {
    display: block !important;
  }
  
  .demo-inline-spacing > * {
    margin: 1rem 0.375rem 0 0 !important;
  }
  
  /* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
  .demo-vertical-spacing > * {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-lg > * {
    margin-top: 1.875rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-lg.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .demo-vertical-spacing-xl > * {
    margin-top: 5rem !important;
    margin-bottom: 0 !important;
  }
  .demo-vertical-spacing-xl.demo-only-element > :first-child {
    margin-top: 0 !important;
  }
  
  .rtl-only {
    display: none !important;
    text-align: left !important;
    direction: ltr !important;
  }
  
  [dir='rtl'] .rtl-only {
    display: block !important;
  }
  
  /*
  * Layout demo
  ******************************************************************************/
  
  .layout-demo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 1rem;
  }
  .layout-demo-placeholder img {
    width: 900px;
  }
  .layout-demo-info {
    text-align: center;
    margin-top: 1rem;
  }
  
  .table .table-dark th {
    color: #c9d6e5;
  }
  
  .form-select {
    background-position: right 0.185rem center;
  }
  
  .loader {
      color: transparent !important;
      pointer-events: none;
      position: relative;
  }
  
  .loader:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      width: 1em;
      height: 1em;
      position: relative;
      position: absolute;
      left: calc(50% - (1em / 2));
      top: calc(50% - (1em / 2));
      position: absolute !important;
  }
  
  @keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
  }
  
  /* avatar styles */
  .avatar {
    position: relative;
    width: 2.375rem;
    height: 2.375rem;
    cursor: pointer;
  }
  .avatar-lg {
    width: 4rem;
    height: 4rem;
  }
  .avatar .avatar-initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #8592a3;
    font-weight: 700;
  }
  .avatar-lg .avatar-initial {
    font-size: 1.5rem;
  }
  .bg-label-warning {
    background-color: #fff2d6 !important;
    color: #ffab00 !important;
  }
  
  /* tabs styles */
  .nav-tabs {
    background-color: #566a7f;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  
  .nav-align-top .nav-tabs .nav-item:first-child .nav-link {
    border-top-left-radius: 1.5rem;
  }
  .nav-align-top .nav-tabs .nav-item:last-child .nav-link {
    border-top-right-radius: 1.5rem;
  }
  
  .nav-tabs .nav-item .nav-link:not(.active) {
    background-color: #5E6E80 !important;
    color: #FFF !important;
  }
  
  .nav-align-top .nav-tabs .nav-item:not(:first-child) .nav-link {
    border-left: 1px solid #5E6E80;
  }
  .nav-tabs .nav-link.active {
    background: #FFFFFF;
    border-radius: 15px 15px 0px 0px;
  }
  .nav-align-top :not(.nav-pills) ~ .tab-content {
    border-radius: 0 0 1.5rem 1.5rem;
  }
  
  // .form-label, .col-form-label {
  //   text-transform: none;
  // }
  .rounded-pill-start {
    border-bottom-left-radius: 50rem !important;
    border-top-left-radius: 50rem !important;
  }
  .rounded-pill-end {
    border-bottom-right-radius: 50rem !important;
    border-top-right-radius: 50rem !important;
  }
  
  .font-9 {
    font-size: 9px !important;
  }
  
  .font-10 {
    font-size: 10px !important;
  }
  
  .font-11 {
    font-size: 11px !important;
  }
  
  .font-12 {
    font-size: 12px !important;
  }
  
  .font-14 {
    font-size: 14px !important;
  }
  
  .font-16 {
    font-size: 16px !important;
  }
  
  .filepond--root .filepond--drop-label {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  
  .filepond--credits {
    display: none !important;
  }

  /* table style override */
.table-light {
  --bs-table-bg: #F8FAFC !important;
}

.table .th-text-white th{
  color: #FFF !important;
}
.table .th-text-transform-none th{
  text-transform: none !important;
}
  
  /* .filepond--drop-label {
    display: flex;
    justify-content: start;
    padding-left: 10px;
    min-height: 3em !important;
  } */

  //question design
  .question-form {
    label {
      color: #c6c6c6 !important;
      font-weight: bold !important;
      font-size: 10px;
    }

    .modal-heading-tag {
        background-color: #f6f6f6;
        font-size: 10px;
        font-weight: 700;
        margin: 0 0 0.75em 0;
        padding: 0.5em;
    }

    .modal-image {
      background-color: #f6f6f6;
      border: 1px solid #c6c6c6;
      display: table;
      height: 58px;
      margin-top: 2em;
      text-align: center;
      width: 100%;
    }
    
    .pull-left {
        float: left !important;
    }

    .answer-list {
      background-color: #f6f6f6;
      border: 1px solid #c6c6c6;
      overflow-y: scroll;
      padding: 0.5em;

      .deleteBtn {
        color: #d44b4b;
        cursor: pointer;
        display: table;
        i {
          display: table-cell;
          vertical-align: middle;
        }
      }
      

      .answer {
        margin-bottom: 0.5em;
        background-color: #ffffff;
        border: 1px solid #c6c6c6;

        .image-box {
          display: inline-block;
          padding-left: 0.5em;
          .image {
            background-color: #f6f6f6;
            border: 1px solid #c6c6c6;
            display: table;
            height: 50px;
            text-align: center;
            width: 100%;
            i {
              color: #c6c6c6;
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }

  /* workflows */
.note-has-grid .single-note-item .card {
    border-radius: 10px;
}
.note-has-grid .single-note-item .side-stick {
  position: absolute;
  width: 3px;
  height: 35px;
  left: 0;
  background-color: rgba(79,84,103,.5);
}
.note-has-grid .single-note-item.note-important .side-stick {
  background-color: rgba(246,78,96,.5);
}
.note-has-grid .single-note-item.note-social .side-stick {
  background-color: rgba(41,98,255,.5);
}
.ri-checkbox-blank-circle-fill:before {
  content: "\25CF";
}
.note-has-grid .single-note-item.all-category .point {
  color: rgba(79,84,103,.5);
}
.ap__loader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(255 255 255 / 50%);
  width: 100%;
  z-index: 1000;
  height: 100%;
  pointer-events: none;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ap__loader>img {
  width: 8rem;
}

.swal2-container {
  z-index: 1081 !important;
}

/* hover colors */
.hover\:bg-transparent:hover {
  -webkit-box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
  box-shadow: inset 0 0 100px rgb(0 0 0 / 20%);
}
.hover\:bg-gray-100:hover {
  --bs-bg-opacity: 1;
  background-color: rgb(243 244 246/var(--bs-bg-opacity));
}
.hover\:text-primary:hover {
  color: #696cff !important;
}
.hover\:text-secondary:hover {
  color: #8592a3 !important;
}
.hover\:text-dark:hover {
  color: #233446 !important;
}
.hover\:text-light:hover {
  color: #fcfdfd !important;
}
.hover\:text-info:hover {
  color: #03c3ec !important;
}
.hover\:text-warning:hover {
  color: #ffab00 !important;
}
.hover\:text-danger:hover {
  color: #ff3e1d !important;
}